[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"

[dev-packages]
"flake8" = "*"
gunicorn = "*"
pymysql = "*"
pytest = "*"
python-dotenv = "*"
pytest-tap = "*"
pytest-ordering = "*"
sphinx = "*"
"doc8" = "*"
